.sideNav {
    //grid-area: sideNav;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 10%;
    
    
    &__link {
      padding-bottom: 20px;
      &:hover {
        transform: scale(1.05);
        }
    }

    & img {
        width: 90%;
        height: auto; 
    }

    & p {
      margin-top:  150px;
      margin-bottom: 59px;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        font-size: 12px;
        padding-bottom: 20px;
        color: white;
    }
  }